.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* .dancers {
  display: none
  
} */
.greenGirl {
  position: relative;
}

.purpleMan {
  position: absolute;

  
}
.blueGirl {
  position: absolute;
}
.redMan {
  position: absolute;
}

.dancers {
  position: relative;
}


/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
